.grid{
	width: 400px;
	height: 600px;
	background-color: yellow;
	position: relative;
	font-size: 200px;
	color: red;
	text-align: center;
	background-image: url(images/newyork.png);
}

.doodler{
	width: 38px;
	height: 85px;
	background-color: red;
	position: absolute;
	background-image: url(images/doodle1.png);
	background-repeat: no-repeat
}

.platform{
	width: 85px;
	height: 15px;
	background-color: green;
	position: absolute;
	background-image: url(images/brick.png);
}


